.custom-card {
    width: 70vw;
    position: relative;
    display: inline-flex;
    background: white;
    cursor: pointer;
    overflow: hidden; /*img corners are hidden so card top border radius can be seen*/
}

.card-img:hover {
    opacity: 0.6;
}

@media screen and (min-width: 684px) {
    .custom-card{
        width: 18rem;
        height: 21rem;
    }
}

@media screen and (min-width: 1010px) {
    .custom-card{
        width: 15rem;
        height: 18rem;
    }
}
