.homepage-container {
    overflow: hidden;
    background-image: url("../../images/background-image-1.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.home-text {
    position: absolute;
}

.home-title {
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.home-sub {
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.text-link {
    text-decoration: none;
    color: 	#efeeee;
    font-size: 20px;
}

.btn-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn-search {
    border-radius: 25px;
    border: none; 
    background-color: #00AB66;
    text-align: center;
    padding: 15px;
}

.btn-search:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    background-color: #078955;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

.home-icon {
    padding: 5px;
    color: 	#efeeee;
}

@media screen and (min-width: 684px) {
    .home-title {
        font-size: 60px;
    }

    .home-sub {
        font-size: 30px;
    }
}