#input-group {
    display: flex;
    position: relative;
    height: 50px;
    width: 75%;
    margin: 20px auto;
    justify-content: center;
    /* background-color:#F0F0F0; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color: rgba(79, 80, 90, .6);
    border-radius: 22px !important; /*override input group bootstrap css*/
}

.form-control::placeholder {
    color: rgba(79, 80, 90, .6); /*font color for placeholder text*/
}

.form-control, .form-control:focus {
    background-color:transparent;
    color: rgba(79, 80, 90, .6); /*font color when typing*/
    box-shadow: none;
    border: none;
    padding-right: 40px;
}

.search-btn {
    top: 0;
    right: 0;
    left: -10px;
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgba(79, 80, 90, .6); /*search icon color*/
}

.search-btn:hover {
    color: #383838;
    background-color: transparent;
}


@media screen and (min-width: 769px) {
    #input-group {
        width: 50%; 
    }
}
