img {
    display: 'block';
    width: 100%;
    height: 40rem;
    opacity: 0.5;
}

.carousel-container {
    color: 	#707070;
}

h3 {
    font-size: 3rem;
    color: #383838;
}

p {
    font-size: 1.5rem;
    color: 	#404040;
}

.text-link {
    text-decoration: none;
    color: 	#efeeee;
    font-size: 1rem;

}

button {
    border-radius: 25px;
    border: none; 
    background-color: #00AB66;
    padding: 15px;

}