.homepage-container {
    /* border-radius: 20px; whole component */
    overflow: hidden;
    background-image: url("../../images/background-image-1.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:  center;
    padding: 20px;
}

.home-text {
    position: absolute;
}

/* .background {
    display: block;
    width: 100%; /* add auto resizing */
    /* height: 100%;
    opacity: 0.5;
    object-fit: cover;
    border-radius: 50px; all four corners of image
} */ 

.home-title {
    font-size: 50px;
    font-weight: 700;
    /* color: #383838; */
    color: white;
}

.home-sub {
    font-size: 25px;
    font-weight: 600;
    /* color: 	#404040; */
    color: white;
}

.text-link {
    text-decoration: none;
    color: 	#efeeee;
    font-size: 1rem;
}

.btn-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn-search {
    border-radius: 25px;
    border: none; 
    background-color: #00AB66;
    text-align: center;
    padding: 15px;
}

.home-icon {
    padding: 5px;
    color: 	#efeeee;
}

