.carousel-container {
    border-radius: 50px; /*whole component*/
    overflow: hidden;
}

.background {
    display: block;
    width: 60rem; /* add auto resizing */
    height: 45rem;
    opacity: 0.5;
    object-fit: cover;
    border-radius: 50px; /*all four corners of image*/
}

.home-title {
    font-size: 3rem;
    font-weight: 700;
    color: #383838;
}

.home-sub {
    font-size: 1.5rem;
    font-weight: 600;
    color: 	#404040;
}

.text-link {
    text-decoration: none;
    color: 	#efeeee;
    font-size: 1rem;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn-search {
    border-radius: 25px;
    border: none; 
    background-color: #00AB66;
    text-align: center;
    padding: 15px;
}

.home-icon {
    padding: 5px;
    color: 	#efeeee;
}