.search-page {
    width: 100vw;
}

.search-header {
    background-color: #AFC8AD;
    /* border-radius: 50px; */
    padding: 10px 30px;
    height: 20vh;
}

.discover-heading {
    font-size: 2em;
    padding: 50px 30px;
}

.recipe-card-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );   
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    justify-items: center;
    padding: 10px 30px;
}

/* @media screen and (min-width: 481px) {
    .recipe-card-container {
        grid-template-columns: repeat(2, 300px); 
    }
}

@media screen and (min-width: 769px) {
    .recipe-card-container {
        grid-template-columns: repeat(3, 300px); 
    }
}

@media screen and (min-width: 1025px) {
    .recipe-card-container {
        grid-template-columns: repeat(4, 300px); 
    }
} */
