.topnav {
    padding: 10px;
    position: sticky;
    font-family:"Ubuntu Mono", monospace;

}

.topnav a {
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    color: black;
    display: inline;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    vertical-align: middle;
    padding: 5px;
  }
