.recipe-instructions {
    background-color: #afc8adab;
    /* background-color: #F0F0F0; */
    border-radius: 20px;
    width: 95vw;
    margin: 0px 20px;
    padding-bottom: 5rem;
    overflow: hidden;
}

.banner-img {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20vh;
    opacity: 0.9; 
    object-fit: cover;
    object-position: center;    
}

.recipe-text {
    position: relative;
    height: 100%;
}

.title {
    font-family: "Caveat";
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    padding-bottom: 0px;
}

.line {
    display: flex;
    width: 80%;
    height: 2px;
    margin: 0 auto;
    background: black;
    border: none;
}

.info-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.prep {
    font-weight: 400;
    font-style: italic;
    font-size: 1.2rem;
    color: black;
    padding: 10px;
    margin-top: 10px;
}

.info-icon {
    font-size: 30px;
    position: relative;
}

.ingredients, .directions {
    margin-left: 2rem;
    margin-top: 2rem;
    padding-right: 5rem;
    white-space: pre-wrap;
}

.list-style {
    list-style-type: none;
    padding-left: 1rem;
}

/* .directions {
    margin-left: 2rem;
    margin-top: 2rem;
    white-space: pre-wrap;
} */

.steps {
    display: flex;
    margin-top: 10px; /*create line break between each step*/
}

.step-num {
    font-weight: 500;
    font-size: 22px;
    display: inline-block; /*Text from step will start new line under the text instead of under the number*/
    
}

.step {
    margin-left: 20px; /*space between num and step*/
}


.ingredients h2, .directions h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.ingredients ul, .directions ul {
    font-weight: 200;
    font-size: 1.3rem;
}

.ingredients ul li {
   margin-top: 10px;
}


@media screen and (min-width: 480px){
    .recipe-instructions {
        margin: 0 auto;
    }
    .banner-img {
        height: 30vh;
    }

}

@media screen and (min-width: 992px){
    .title{
        font-size: 3rem;
    }
    .ingredients h2, .directions h2{
        font-size: 1.7rem;
    }
    .ingredients ul, .directions ul{
        font-size: 1.4rem;
    }
    .directions{
        margin-left: 4rem;
        margin-top: 5rem;
    }
}

