.recipe-instructions {
    background-color: #afc8adab;
    border-radius: 50px;
}

.banner-img {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 20px;
    /* object-position: 80% 100%; */

}

.recipe-text {
    position: relative;
    width: inherit;
    height: 100vh;

}

.title {
    font-family: "Caveat";
    font-size: 50px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    padding-bottom: 0px;
}

.line {
    display: flex;
    width: 80%;
    height: 2px;
    margin: 0 auto;
    background: black;
    border: none;
}

.info-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.prep {
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    color: black;
    padding: 10px;
    margin-top: 10px;
}

.info-icon {
    font-size: 30px;
    position: relative;
}

.ingredients {
    margin-left: 20px;
    margin-top: 80px;
    white-space: pre-wrap;

}

.list-style {
    list-style-type: none;
}

.steps {
    margin-top: 20px;
    display: flex;
}

.step-num {
    font-weight: 500;
    font-size: 22px;
    display: inline-block; /*Text from step will start new line under the text instead of under the number*/
    
}

.step {
    margin-left: 20px; /*space between num and step*/
}


.ingredients h2, .directions h2 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 50px;
}

.ingredients ul, .directions ul {
    font-weight: 400;
    font-size: 20px;
}

.ingredients ul li {
   margin-top: 10px;
}

.notes {  
    font-weight: 400;
    font-size: 20px;
    font-style: italics; 
    color: grey;
    border: solid rgb(180, 176, 176);
    width: 70%;
    margin-top: 30%; 
}

.directions {
    margin-top: 50px;
    padding: 80px;
}
